html, body {
    margin: 0;
    position: relative;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 0.4fr 2px 0.9fr 1.2fr;

}

.scrollbar-container {
    display: grid;
    justify-self: center;
}

.scroll-bar {
    display: grid;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.logo {
    padding-top: 2rem;
    padding-bottom: 8vh;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #050215;
}

.first {
    display: grid;
    justify-self: center;
    /*padding-bottom: 1rem;*/
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 65px;
    color: #B4977B;
}

.scrollbar-container {
    display: grid;
    justify-self: center;
}

.scroll {
    display: grid;
    justify-self: center;
    height: 200px;
    overflow: auto;
    float: left;
    /*border-left: 5px solid #E5E5E5;*/
    border-radius: 2px;
}

.slide {
    background: #B4977B;
}

.last {
    display: grid;
    justify-self: center;
    /*padding-top: 1rem;*/
    font-family: 'Barlow', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 65px;
    color: #E4D6C9;
    padding-bottom: 10vh;
}

.arrow-button {
    display: grid;
    justify-self: center;
    width: 58px;
    height: 79px;
    box-sizing: border-box;
    border: 2px solid #B4977B;
    border-radius: 50px;
    background: white;
}

.arrow-button:hover {
    transform: scale(1.1);
}

.arrow {

    cursor: pointer;
    position: relative;
    width: 15px;
    height: 20px;
    margin: 20px auto;
    transform: rotate(90deg);

}

.arrow div {
    position: relative;
    top: 9px;
    width: 30px;
    height: 2px;
    background-color: #B4977B;
}

.arrow div::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 2px;
    top: 4px;
    /**/
    right: -3px;

    background-color: #B4977B;

    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);

    transform: rotate(-45deg);

}

.arrow div::after {

    content: '';

    position: absolute;

    width: 13px;

    height: 2px;

    top: -4px;

    right: -3px;

    background-color: #B4977B;

    transform: rotate(45deg);

}

:after, :before {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

}

.vertical {
    display: grid;
    border-left: 2px solid #E5E5E5;
    /*height: 100px;*/
    height: 100vh;
    justify-self: self-start;
}

.add {
    display: grid;
    justify-self: center;
}

.img {
    width: 30rem;
    height: 44rem;
    padding-bottom: 10vh;
}

.img-box {
    position: absolute;
    display: grid;
    align-items: center;
    width: 30rem;
    height: 4em;
    margin-top: 37rem;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}

.social-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.social {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #050215;
    align-items: end;
    justify-self: center;
}

.content {
    display: grid;
    justify-self: center;

}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
}

.item {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #050215;
    margin-bottom: 0;
}

.cart-icon {
    padding-top: 1.2rem;
    padding-left: 1.5rem;
    padding-right: 10rem;

}

.item:hover {
    color: #B4977B;
}

.count {
    position: absolute;
    background: black;
    padding: 0 2.5px 0 2.5px;
    border-radius: 50%;
    font-family: 'Barlow', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 6px;
    line-height: 7px;
    color: #FFFFFF;
}

.text-content {
    margin-top: 0;
}

.heading {
    margin-top: 5rem;
    margin-bottom: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #050215;
}

.text {
    font-family: 'Barlow';
    padding-right: 11rem;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(5, 2, 21, 0.75);
}

.scrollbox {
    overflow: auto;
    width: 45rem;
    max-height: 210px;
    overflow-y: scroll;
}

.text.scrollbox {
    padding-right: 10px;
}

#scrollbar-style::-webkit-scrollbar-track {
    background-color: #E5E5E5;
    border-radius: 20px;
}

#scrollbar-style::-webkit-scrollbar {
    width: 10px;
    background-color: #E5E5E5;
    border-radius: 20px;
}

#scrollbar-style::-webkit-scrollbar-thumb {
    background-color: #B4977B;
    border-radius: 20px;

}

.shop-button {
    width: 178px;
    height: 60px;
    border: none;
    background: #B4977B;
    border-radius: 50px;
    margin-top: 30px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.page-number {
    display: grid;
    justify-self: end;
    align-items: end;
    padding-right: 10rem;
    padding-bottom: 2.5rem;
}

.number {
    margin: 0;
    font-family: 'Barlow', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    color: white;
    color: #fff;
    text-shadow: -1px 0 #B4977B, 0 1px #B4977B, 1px 0 #B4977B, 0 -1px #B4977B;
}

.number:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Barlow', serif;
    color: white;
    opacity: 0.4;
    font-size: 80px;
    z-index: 1;
    pointer-events: none;
}